html, body {
    margin: 0 auto;
    scroll-behavior:  smooth;
}
.navbar {
    padding-left: 66px;

}
.navbar-brand {
    margin-top: 9px;
    font-size: 30px;
    font-family: 'Merriweather', serif;

 }
.banner {
    color: white;
    text-align: center;
    padding-top: 67px;
}
.container1 {
    background: url("../images/orange.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 455px;
}
h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 47px;
    color: white;
}
#myImage {
    width: 400px;
    height:350px;
    object-fit: scale-down;
    float: left;
    background-color: orange;
    margin-left: 294px;
    margin-top: 100px;
}
    #results {
    width: 400px;
    height: 350px;
    display: inline-block;
    border: 1px ridge black;
    margin-top: 100px;
    margin-left: 54px;
}
    .subheading {/* border-bottom */
                text-align: center;
                border-bottom: 0.5px solid darkorange;
                margin-right: 78px;
                margin-left: 80px;
}
    h5 {/* overview, how its works, and features */
        display: inline-block;
        text-align: center;
        padding: 17px;
        color: darkorange;
        font-size: 17px;
        letter-spacing: 0.5px;
}
a { /* overview link color */
    color: darkorange;
    text-align: center;
}
/* overview hover link */
a:hover {
    color: lightgray;
    text-decoration: none;
}
/* position text in orange banner */
.gooiki-content {
    text-align: center;
    margin-top: 60px;
}
    p { /* overview text */
        font-size: 20px;
        margin-top: 30px;
}
/* overview below text*/
h3 {
    text-align: center;
    font-size: 38px;
    padding-top: 70px;
}
#howitworks {
    margin-top: 140px;
}
/* four panels  */
.branch {
    width: 535px;
    height: 162px;
    margin-top: 37px;
    margin-left: 32px;
    background-color: white;
    display: inline-block;
    box-shadow: 4px 4px 7px lightgray;
    position: relative;
}
/* panels text */
#overviewtext {
    font-size: 19px;
}
#branchtext {
    font-size: 19px;
    width:380px;
    padding-right: 10px;
    padding-top: 15px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;

}
.col-md-6 {
    margin-left: 60px;
    text-align: center;
}
.function-section {
    background-color: #f2f2f2;
    height: 600px;
    margin-top: 0px;
}
/* FEATURES SECTION */
#features {  /* lightgray background */
            height: 232px;;
            background-color: lightslategray;
}
.function-section .row {
    justify-content: center;
}
.row {   /* bluegray background */
         display: flex;
}
i {   /* ICONS */
      margin-top: 50px;
      padding-bottom: 27px;
}
span{  /* icons text */
       font-size: 19px;
       color: white; 
}
#features .col-md-3 {
    text-align: center;

}
/* features-icon */
.fa-user-friends, 
.fa-file-upload,   
.fa-brain,       
.fa-project-diagram { 

    color: white;
    font-size: 65px;
    opacity: 0.7;
}  
/* CHOOSE FILE BUTTON */
input {
    width: 280px;
    height: 70px;
    padding-top: 19px;
    padding-left: 75px;
    padding-bottom: 50px;
    /* position: relative; */
    margin-top: 30px;
    margin-left: 300px;
    border: 7px dotted #FFCD28;
    font-size: 17px;
    font-display: 'Varela Round', sans-serif;
    float: left;
    display: inline-block;
}
/* SUBMIT BUTTON */
.file-submit {
    margin-top: 22px;
    border: 7px dotted #FFCD28;
    width: 280px;
    height: 83px;
    /* color: green; */
    background-color: transparent;
    font-size: 17px;
    float: right;
    display: inline-block;
    margin-right: 330px;
}
/* FILE BUTTON APPERANCE   */
#filesubmit [type='file'] {
    color: transparent;
    margin-top: 20px;
}
#pic {
    /* opacity: 0; */
    } 

/*  SUBMIT BUTTON apperance  */
#slot {
    color: black;
    background: linear-gradient(lightgray, white);
    border: 1px solid lightgray;
    width: 100px;
    padding-top:3px;
    margin-left: 80px;
    height: 29px;
}

/* BOLD element */
strong {
    color: orange;
}
/* RESULTS */
#result,
#result2,
#result3,
#result4 {
    color: black;
    line-height: 1;
    margin-left: 15px;
}
/* CONTACT SECTION */
h1 {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    padding-left: 60px;
}
#about {
    padding-left: 60px;
    font-size: 15px;  
    margin-top: 15px;
}
#sabout {
    padding-left: 0px;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    margin-right: 78px;
    
}
#copyright {
    margin-top: 8px;
}
